@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --text: #e5ecf3;
    --text-black: #000000;
    --background: #070c11;
    --primary: #8bb6e0;
    --secondary: #194f85;
    --accent: #3990e6;
    --cards: #101A25;

}

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}

.content{
    width: 80%;
}

/* ========================== Header ========================== */

.cabecalho {
    width: 100%;
    height: 90px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(46, 46, 46);
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btns-menu {
    display: flex;
    gap: 30px;

}

.btn-entrar {
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black);
    cursor: pointer;
    transition: 0.3s;
}

.btn-entrar:hover{
    box-shadow: 0px 4px 28px 11px rgba(178, 212, 255, 0.2);
}

.btn-cadastro{
    background-color: var(--secondary);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
    cursor: pointer;
    transition: 0.3s;
}

.btn-cadastro:hover{
    box-shadow: 0px 4px 28px 11px rgba(178, 212, 255, 0.2);
}

/* ========================== banner ========================== */

.banner{
    width: 100%;
    height: auto;
}

.container-banner{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.txt-banner{
    color: var(--text);
    width: 50%;
}

.txt-banner h1{
    font-size: 50px;
}
.txt-banner p{
    margin-top: 50px;
    font-size: 20px;
}

.img-banner{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-banner img{
    width: 600px;
    height: 400px;
}

.borda{
    margin-top: 100px;
    width: 50%;
    height: 10px;
    background-color: var(--primary);
    margin-left: 0px;
}

/* ========================== Sobre ========================== */

.sobre{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.subtitulo{
    font-size: 36px;
    color: var(--primary);
    text-align: center;
}

.container-sobre{
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
}

.img-sobre ,.txt-sobre{
    margin-top: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-sobre p{
    font-size: 28px;
    color: var(--text);
}

#borda2{
    margin-left: auto;
    margin-right: 0;
    background-color: var(--accent);
}

/* ========================== Explicacão ========================== */

.explicacao{
    width: 100%;
    height: auto;
    margin-top:  100px;
}

.card {
    padding: 0 50px ;
    margin-top: 100px;
    width: 640px;
    height: 130px;
    background-color: var(--cards);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card span{
    padding-left: 50px;
    color: var(--text);
    font-size: 20px;
    border-left: 5px solid var(--primary);
}

#borda3{
    background-color: var(--secondary);
}

/* ========================== Explicacão ========================== */

.junte{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.container-junte{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.mensagens{
    padding: 30px;
    width: 700px;
    height: auto;
    background-color: var(--cards);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
}

.mensagens h3{
    font-size: 36px;
    font-weight: 500;
    color: var(--primary);
}

.mensagens p{
    color: var(--text);
    font-size: 20px;
}

#msg1{
    margin-left: 0;
}

#msg2{
    margin-right: 0;
}

/* ========================== sugestao ========================== */

.sugestao{
    margin-top: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.form-sugestao{
    padding: 30px;
    width: 80%;
    background-color: var(--cards);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-sugestao h2{
    font-weight: lighter;
}

.form-sugestao label{
    width: 100%;
    font-size: 20px;
    color: var(--text);
    margin-right: 0;
    text-align: end;
}

.form-sugestao textarea, .form-sugestao input{
    background-color: var(--cards);
    border: none;
    border-bottom:  2px solid rgb(139, 182, 224);
    color: var(--text);
    border-radius: 5px;
    margin-left: 0;
}

.form-sugestao textarea{
    width: 100%;
    height: 70px;
    resize: none;
}   

.form-sugestao input{
    width: 100%;
}

.container-form-sugestao{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    margin: 20px;
}

#label1-sugestao,#label2-sugestao ,#input1-sugestao ,#input2-sugestao{
    width: 100%;
    display: flex;
}

/* ========================== Footer ========================== */

.rodape{
    background-color: var(--cards);
    width: 100%;
    height: auto;
    border-top:  1px solid rgb(46, 46, 46);
}

.content-rodape{
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.content-rodape span{
    color: var(--primary);
    font-size: 20px;
}

.rodape-footer{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #8bb6e0;
    display: flex;
    justify-content: center;
}

.rodape-footer span{
    font-weight: bolder;
    font-size: 20px;
    color: var(--secondary);
}

/* ========================== LOGIN ========================== */

.login {
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Garante que o conteúdo não vaze */
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagens/agua.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5; /* Define a opacidade do GIF */
    z-index: -1; /* Mantém o pseudo-elemento atrás do conteúdo */
}

.form-login {
    width: 800px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1); /* Cor branca com 80% de opacidade */
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form-login h1{
    color: var(--text);
    font-size: 40px ;
    font-weight: normal;
}

.container-forms{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

.campo-forms{
    width: 100%;
    display: flex;
}

.campo-forms label{
    color: var(--text);
    font-size: 24px;
    text-align: end;
}

.form-login input , .form-login label{
    width: 100%;
}

.form-login input {
    color: var(--text);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0); /* Cor branca com 50% de opacidade */
    border: none;
    border-bottom: 2px solid rgb(139, 182, 224);
}

.form-login input::placeholder {
    color: var(--text);
    font-size: 16px;
    font-weight: lighter;
}


.form-login input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverte as cores do ícone */
}
